table {
  border-collapse: collapse;
  width: 95%;
  margin: 20px auto;
}

th,
td {
  border: 1px solid #333;
  padding: 8px;
  text-align: left;
  font-size: 14px;
}

th {
  background-color: #f2f2f2;
}

caption {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.form-container {
  text-align: center;
  margin: 20px auto;
}

input,
select {
  padding: 5px;
  margin: 5px;
  width: 150px;
}

button {
  padding: 6px 12px;
  margin-top: 10px;
}

canvas {
  max-width: 100px;
  margin: 30px auto;
  display: block;
}

.expired {
  background-color: #ffcccc;
}

.expiring-soon {
  background-color: #fff0b3;
}