 h1 {
   color: #2c3e50;
 }

 .dashboard-overview {
   display: flex;
   flex-wrap: wrap;
   gap: 20px;
   justify-content: center;
   font-family: roboto, Arial;
   margin: 30px;
   background-color: #f4f7f9;
   font-size: 24px;
 }

 .card {
   background-color: white;
   padding: 20px;
   border-radius: 12px;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
   width: 300px;
 }

 .card h3 {
   margin-top: 0;
   color: #34495e;
 }

 .metric {
   font-size: 20px;
   font-weight: bold;
   color: #27ae60;
 }

 .alert {
   color: #e74c3c;
   font-weight: bold;
 }

 p {
   font-size: 20px;
   color: #090a0a;
 }