.header {
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  z-index: 100;
  padding-top: 5px;
  

}
.left-section {
display: flex;
align-items: center;
}

.med-logo {
height: 60px;
width: 600px;
margin-left: 10px;
margin-right: 24px;
}

.middle-section {
  flex: 1;
  margin-left: 70px;
  margin-right: 30px;
  max-width: 500px;
  display: flex;
  align-items: center;
}

.search-bar {
  flex: 1;
  height: 36px;
  padding-left: 10px;
  font-size: 16px;
  border: 1px solid gray;
  border-radius: 2px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
  width: 0;
}

.search-bar::placeholder {
  font-family: 'Times New Roman', Times, serif, arial;
  font-size: 16px;
}

.search-button {
  height: 40px;
  width: 66px;
  background-color: rgb(252, 250, 250);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(192, 192, 192);
  margin-left: -1px;
  margin-right: 8px;
  position: relative;
}
      
.search-icon {
  height: 25px;
}

.right-section {
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
  flex-shrink: 0;
}

.current-user-picture {
  height: 34px;
  border-radius: 20px;
  margin-left: 10px;
  margin-right: 30px;
  padding: 10px;
}

.search-button .tooltip{
  font-family: 'Times New Roman', Times, serif, arial;
  position: absolute;
  background-color: rgb(183, 187, 187);
  color: rgb(253, 253, 253);
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 2px;
  font-size: 12px;
  bottom: -30px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}

.search-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}


.search-button:hover .tooltip {
  opacity: 1;
}

.current-user-link {
  text-decoration: none;
  color: inherit;
  margin-block: 10px;
 
}